button::-moz-focus-inner,
select::-moz-focus-inner {
    padding: 0;
    border: 0
}

a.button, 
input.button, 
.button a {
    @include buttons($liquid: true);
}

// alt buttons (not primary green)
a.button.altcolor,
input.button.altcolor,
.button.altcolor a {
    background-color: #{"$color_btn_alt_bg"};

    &:hover,
    &:focus,
    &:active {
        color: #{"$color_btn_text"};
        background-color: #{"darken($color_btn_alt_bg, $cclaireBtnHoverDarken)"};
        border-color: #{"darken($color_btn_alt_bg, $cclaireBtnHoverDarken)"};
    }
}

// large buttons
a.button.large,
input.button.large,
.button.large a {
    padding: $padding-large-vertical $padding-large-horizontal;
    text-transform: uppercase;
    font-size: $font-size-large;
    @include border-radius($border-radius-large);
}
    a.button.large.plus,
    input.button.large.plus,
    .button.large.plus a {
        text-align: left;
    }

a, 
button,
input[type="submit"] {
    &:focus {
        outline: 0; // no native blurred outline please
    }
}

// the +/- qty buttons
.minibutton {
    &:hover,
    &:focus {
        // plus
        color: $cclaireGreen;
    }
    &.minus {
        &:hover,
        &:focus {
            // minus
            color: $removeBtnBg;
        }
    }
}

// red "remove" buttons
.button {
    &.remove {
        @include opacity(.5);
        &:hover,
        &:focus {
            @include opacity(1.0);
            background-color: $removeBtnBg !important;
            border-color: $removeBtnBg !important;
        }
    }
}