// CART
// -------------------------
.template-cart {
    #maincontent {
        h1 {
            margin: 0;
        }
    }
}
#basket {

    // GENERAL
    // -------------------------
    textarea {
        width: 360px;
        height: 80px;
    }


    // CART ITEM ROWS
    // -------------------------
    ul > li {
        // used to be .cartitem.first - but that is not working in the template
        &:first-child {
            .cartitem {
                border-top: 0;
            }
        }
    }
    .cartitem {
        border-bottom: 1px solid #{"$color_general_divider"};
        padding: ($checkoutRowItemDefaultPad - $checkoutRowItemPadTop) 0 $checkoutRowItemDefaultPad;
        
        // all the immediate children of cartitem float left
        .image, 
        .desc,
        .qty,
        .amt,
        .remove { 
            float: left; 
            padding: $checkoutRowItemPadTop 0 0;
        }

        .image {
            width: $checkoutImgColWidth;
            margin-right: $checkoutImgColMarginRt;
            margin-top: $checkoutRowItemPadTop;
            padding-top: 0;

            img {
                max-height: 100%;
                max-width: 100%;   
            }
        }
        .desc {
            width: $checkoutDescColWidth;
            color: #{"lighten($color_foot_standard, 8)"};

            .title {
                display: block;
                font-size: $font_standard_size + 2;
                margin-bottom: $line-height-computed;
                a {
                    /**/
                }
            }
            .properties {
                li {
                    font-size: 12px;
                    line-height: 16px;
                    strong {
                        color: #{"lighten($color_foot_standard, 15)"};
                    }
                }
            }
            .long-desc {
                // all the product option info printing out is enough
                display: none;
            }
        }
        .qty {
            width: $checkoutQtyColWidth;
            // since the "qty" label sits on top...
            // we have to adjust to get the qty input to align 
            // vertically with the remove button and price
            padding-top: 0;

            &, 
            input {
                text-align: center;
            }

            label {
                display: block;
                font-size: 80%;
            }
            .minibutton {
                // keep the + and - minibuttons an even width
                // so that the Qty label is centered above the input
                min-width: 34px;
                padding-left: 0;
                padding-right: 0;
            }
            input {
                font-size: 100%;
                width: 38px; // just enough for 4 numbers
                text-indent: 0;
                @include transition(all .2s linear);
                background-color: rgba($color_form_field_bg, .1);
                color: #{"$color_btn_text"};
                &:focus {
                    background-color: rgba($color_form_field_bg, 1.0);
                    color: #{"$color_form_field_text"};
                }
            }
        }
        .amt {
            width: $checkoutAmtColWidth;
            text-align:center;
            line-height: $btnHeight; // vertically align with remove btn
            .amount {
                font-size: #{"$font_standard_size + 2"};
            }
        }
        .remove {
            width: $checkoutBtnColWidth;
            text-align: center;
            /**/
            .button {
                float: none;
                width: auto;
                padding: $btnPadding;
            }
        }
    }

    // CART FOOTER
    // -------------------------
    .foot {

        // the one on top
        &.top {
            float: left;
            width: 100%;
            clear: both;
            position: absolute;
            top: 0;
            right: $containerPadX;

            .updatecont,
            .checkoutcont {
                float: right;
            }

            .updatecont {
                margin-top: $checkoutRowItemDefaultPad - $line-height-computed - 10;
                .button {
                    float: right;
                    margin-right: 40px;
                }
            }
            .checkoutcont {
                padding-right: ($containerPadX * 2) + 6;
                .total {
                    float: right;
                    width: 66%;
                    margin-top: 0;
                }
                .button {
                    // even though we are using a smaller button
                    // we still want it to match the visuals of the big one
                    // in the bottom footer of the cart page.
                    text-transform: uppercase;
                    right: 0;
                }
            }
        }

        padding-top: $checkoutRowItemDefaultPad - 8px;

        .button {
            display: inline;   
        }

        // --------------------------------------------------
        // LINE UP COLUMNS WITH COLUMNS FROM CARTITEM ABOVE
        // improves readability
        .instructions,
        .updatecont,
        .checkoutcont {
            float: left;
        }

        .instructions {
            // should be the same width as .image + .desc
            width: $checkoutImgColWidthTtl + $checkoutDescColWidth;
        }
        .updatecont {
            // should be the same width as qty column
            // since update button relates to updated quantities
            width: $checkoutQtyColWidth;
            text-align: center;
            margin-top: $checkoutRowItemDefaultPad - $line-height-computed;
        }
        .checkoutcont {
            // contains both the subtotal and the checkout btn
            width: $checkoutAmtColWidth + $checkoutBtnColWidth;
            text-align: center;
            .total {
                padding-bottom: 0;
                margin-top: $checkoutRowItemDefaultPad - $line-height-computed;
                // should line up with .amt column
                float: left;
                // should be the proportional amount that 
                // the .amt column takes up
                width: round(100 - percentage($checkoutAmtColWidth / ($checkoutBtnColWidth + $checkoutAmtColWidth)));
                font-size: #{"$fontBigPriceSize"};
            }
            .button {
                position: relative;
                right: 18px;
            }
            .button, 
            .extrapaymentmethods {
                float: right;
            }
            .extrapaymentmethods {
                clear: right;
            }
        }
        // line up "update" / total with big checkout button vertically


        // END LINE UP COLUMNS FROM CARTITEM ABOVE
        // --------------------------------------------------


        // EXTRA PAYMENT METHODS
        // ensure that paypal, etc... buttons
        // show up / are legible against our dark bg
        .extrapaymentmethods {
            // buttons like the default paypal button are input[type="image"]
            input[type="image"] {
                border: 0;
                background-color: #{"$color_body_standard"};
                padding: $border-radius-base;
                @include border-radius($border-radius-base);

                &:hover,
                &:focus {
                    background-color: #{"lighten($color_body_standard, 5)"};
                }

                // specific buttons 
                // paypal
                &[name="goto_pp"] {
                    // align the paypal graphic so it looks centered on our colored bg
                    padding: $border-radius-base ($border-radius-base - 1) 0;
                }
            }
        }

    } // END #basket .foot
} // END #basket

// REDECLARE WIDTHS TO KEEP RESPONSIVE STYLES IN PLACE
@import 'cart-responsive-layout';