@media only screen and (max-width: 767px) {
    #basket {
        .cartitem {
            .image,
            .desc {
                float: none;
                width: 100%;
            }
            .desc {
                margin-bottom: $checkoutRowItemDefaultPad / 2;
            }
            .qty,
            .amt,
            .remove {
                padding-top: $checkoutRowItemDefaultPad;
                width: 33%;
            }
            .qty {
                padding-top: $checkoutRowItemDefaultPad - $line-height-computed;
            }
        }
        .foot {

            &.top { display: none; }

            .instructions,
            .instructions textarea,
            .updatecont,
            .checkoutcont {
                float: none;
                width: 100%;
            }
            .updatecont,
            .checkoutcont .total {
                margin-top: 0;
            }
            .checkoutcont .total {
                float: none;
                width: auto;
            }
        }
    }
}