// INPUTS
// -------------------------
input,
textarea,
select {
    &:focus {
        background-color: #fff;
        outline: 0; // no native blurred outline please
        border-color: #{"$color_btn_bg"};
        @include box-shadow(0 0 0 1px #{"$color_btn_bg"});
    }
}