/**
 * Black & White
 * A Shopify theme by Clean Canvas. 
 * 
 * MODIFIED BY AARON LADEMANN
 * CONDITIONALS THAT ARE NOT SUPPORTED BY SASS
 * CAN BE FOUND (HAVE BEEN EXTRACTED INTO) template-conditionals.css.liquid
 */

/* http: //meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   (Tweaked for CleanThemes theme)
*/

@import "_bw-template/_reset.scss";

/*  Site
 */

body {
    line-height: 1.4em;
    color: #{"$color_body_standard"};
    background: #{"$color_bg_main"};
}

body > .bodywrap {
    position: relative;
    z-index: 50;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

a {
    color: #{"$color_body_link"};
    text-decoration: none;

    &.highlight {
        display: inline-block;
        zoom: 1;
        *display: inline;
        max-width: 100%;
        @include transition(box-shadow 200ms linear);

        img {
            z-index: -1;
            position: relative;
        }
    }
}

.error {
    color: #{"$color_body_link"};
    font-style: italic;
}

input {
    padding: 0;
    height: $inputHeight;
    text-indent: 6px;
}

input,
.textboxcont,
textarea {
    background: #{"$color_form_field_bg"};
    font-size: 80%;
    border: 1px solid #{"$color_form_field_border"};
    color: #{"$color_form_field_text"};
    @include transition(border-color 200ms linear);
    -webkit-appearance: none; /* iOS */
    @include border-radius($borderRadiusInput);
}

.textboxcont input {
    border: 0;
    height: $inputHeight;
    width: 100%;
    text-indent: $inputHeight / 2;
}

textarea {
    width: 95%;
    padding: 5px;
    height: 100px;
    margin-top: 8px;
}

input {
    &[type=radio] {
        -webkit-appearance: radio;
    }
    &[type=checkbox] {
        vertical-align: middle;
        -webkit-appearance: checkbox;
    }
    &[type=submit] {
        height: auto;
        text-indent: 0;
        cursor: pointer;
    }
    &.short {
        height: $inputHeight - 6;
        line-height: $inputHeight - 6;
    }
}

.loadingimg {
    min-height: 40px;
}

#util-bar {
    .util-bar-upperarea {
        border-bottom: #{"$color_bg_header"} 1px solid;
        position: relative;
        padding-bottom: 10px;
        padding-top: 20px;
        display: none;
        z-index: 3;

        div {
            text-align: center;
        }
    } // END .util-bar-upperarea

    #util-bar-login { 
        .inputwrap {
            position: relative;
        }
        .title {
            font-size:  18px;
            float: left;
            width: 70px;
            margin-top: 7px;
        }

        .nameinputcont {
            float: left;
            width: 326px;
            .nameinput {
                width: 100%;    
            }
        }

        .passwordinputcont {
            float: left;
            width: 400px;
            margin-left: 14px;
            position: relative;
            input {
                width: 100%;
            }
            .forgot {
                border-left: 1px solid #d0d0d0;
                padding-left: 12px;
                position: absolute;
                right: 10px;
                top: 9px;
                color: #{"$color_form_field_text"};
                a {
                    font-style: italic;
                    font-size: 90%;
                }
            }
        }

        .button {
            position: absolute;
            right: 0;
            top: 0;
            width: 112px;
            margin-top: 2px;
        }
    } // END #util-bar-login

    .cartsocialcont {
        padding: 10px 0;
    }

    .tagline-area {
        float: left;
        width: 350px;
        &.tagline {
            font-style: italic;
            font-size: 19px;
            line-height: 34px;
        }
    }

    .actions {
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: right;
        float: left;
        width: 590px;

        .actions-item {
            vertical-align: middle;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

        a {
            color: #{"$color_head_general"};
        }

        .account {
            height: 25px;
            line-height: 25px;
            margin-right: 10px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

        ul {
            margin: 0 10px 0 10px;
            vertical-align: middle;
        }

        .socialicons {
            display: inline;
            line-height: 28px;
        }
    } // END .actions
} // END #util-bar

#util-bar .actions ul,
#util-bar .actions li,
#util-bar .actions li a,
.socialicons li,
.socialicons li a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 28px;
}

#util-bar .socialicons li a {
    overflow: hidden;
    display: block;
    text-indent: 9999px;
    text-transform: capitalize;
    width: 28px;
    margin-right: 2px;
}
// sprite offset calculations are in template-conditionals.css.liquid

#util-bar .socialicons li a:hover {
    @include opacity(.8);
}

#util-bar .search-expandable .actions #cartsummary {
    margin-right: 30px;
}

#searchcont.inline {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#util-bar .actions #searchcont.inline {
    margin-left: 10px;
}

#pageheader #logo-area #searchcont.inline {
    position: absolute;
    top: 10px;
    right: 0;
}

#pageheader #logo-area #searchcont.inline.lower {
    top: auto;
    bottom: 10px;
}

#searchcont.inline .hoverlabel {
    font-size: 14px;
}

#searchcont.inline input.search {
    height: 28px;
    line-height: 28px;
    width: 150px;
    border: 1px solid #{"$color_general_divider"};
}

#searchcont.inline input[type="submit"] {
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -14px;
    text-indent: 9999px;
    border: none;
    width: 22px;
    height: 28px;
}

#util-bar #searchcont.slideout {
    background: #{"$color_bg_header"};
    overflow: hidden;
    vertical-align: middle;
    position: absolute;
    /*
    If you find the search box shadow is overlapping your image background,
    try changing the following to something like: 
    top: 20%;
    height: 60%;
    */
    top: 10%;
    height: 80%;
    right: 0;
    padding-left: 24px;
    @include box-shadow(-5px 0px 5px 1px #{"$color_bg_header"})
}

#util-bar #searchcont.slideout .searchbtn {
    outline: 0;
    overflow: hidden;
    text-indent: 9999px;
    text-transform: capitalize;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 40px;
    top: 50%;
    left: 0;
    margin-top: -20px;
}

#util-bar #searchcont.slideout input.search {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    display: block;
    height: 26px;
    width: 170px;
    color: #{"$color_foot_heading"};
    text-indent: 0;
    @include transition(border-color 150ms linear);
}

#util-bar #searchcont.slideout input.search:focus {
    border-color: #{"$color_general_divider"};
}

#util-bar #searchcont.slideout .searchformwrap {
    position: absolute;
    height: 20px;
    top: 50%;
    left: 24px;
    margin-top: -12px;
}

.smarttextinput input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: transparent;
    overflow: hidden;
    height: 100%;
    width: 25px;
    cursor: pointer;
    color: inherit;
}

.smarttextinput .inputrow {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#util-bar #searchcont.slideout input.search,
#util-bar #searchcont.slideout .searchbutton {
    @include box-shadow(none);
    @include border-radius(0);
}

#util-bar #searchcont.slideout .hoverlabel {
    left: 0;
    font-size: #{"$font_standard_size"};
    color: #{"$color_foot_heading"};
}

#pageheader {
    z-index: 100;

    nav ul li {
        margin-left: 26px;
        position: relative;
        display: inline-block;
        zoom: 1;
        *display: inline;
        &.first {
            margin-left: 0;
        }

        a {
            color: #{"$color_body_nav"};
            height: 36px;
            line-height: 36px;
            padding: 0 5px;
            text-decoration: none;
            display: inline-block;
            zoom: 1;
            *display: inline;

            &:hover {
                @include opacity(.7);
            }

        }
    } // END nav ul li
} // END #pageheader

#pageheader {
    nav ul ul,
    nav ul div.multi-column {
        display: none;
        background: #{"$nav_drop_bg"};
        padding-top: 5px;
        padding-bottom: 5px;
        position: absolute;
        left: 0;
        top: 36px;
        z-index: 10000;
        @include border-radius(0 0 3px 3px);
        @include box-shadow(0 1px 3px #333);
        // opacity settings are declared in template-conditionals.css.liquid
    }

    // styles for nav ul ul li / ul ul li a are in template-conditionals.css.liquid

    nav ul div.multi-column ul {
        display: block;
        position: static;
        float: left;
        padding: 0;
        border: 0;
        @include border-radius(0);
        @include box-shadow(none);
        @include opacity(1);
    }

    nav #dropdownNav {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        display: none;
        font-size: 18px;
    }
} // END #pageheader

#crumbs {
    line-height: 40px;
    font-size: 85%;
    z-index: 5;
    position: relative;
    a {
        color: #{"$color_body_standard"};
    }
}

.collectionfilter {
    text-align: right;
}


.widgets {
    clear: both;
}

aside.widgets {
    clear: none;
}

.blogwidget span {
    display: block;
    padding-top: 5px;
}

.widgets .widget {
    margin-top: 20px;
    position: relative;
}

.widgets .widget .paging,
.widgets .widget .flex-direction-nav {
    position: absolute;
    top: 8px;
    right: 0;
}

aside.widgets .widget .flex-direction-nav {
    top: 25px;
}


.widgets .widget.pagesnippetwidget img,
.widgets .widget.pagesnippetwidget object,
.widgets .widget.pagesnippetwidget iframe,
.widgets .widget.pagesnippetwidget table,
.widgets .widget.fullwidthimg img {
    max-width: 100%;
    display: block;
}

.productpilewidget .product {
    width: 32%;
    float: left;
    margin-top: 5px;
    position: relative;
}

.productpilewidget .product.middle {
    margin-left: 2%;
    margin-right: 2%;
}

.productpilewidget .product a {
    display: block;
    overflow: hidden;
    height: 100%;
    text-align: center;
    margin-bottom: -4px; /* compensate for inline spacing */
}

.productpilewidget .product img {
    max-width: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.doimgfade .productpilewidget .product img {
    visibility: hidden;
}

/* IE7 margin rounding probs... */
html* .productpilewidget .product.middle {
    margin-left: 1%;
    margin-right: 1%;
}

html* .productpilewidget .product a {
    margin-bottom: 0;
}

#simplepopuptext {
    display: none;
    position: absolute;
    text-align: center;
    background: #{"$color_bg_main"};
    border: 1px solid #{"$color_general_divider"};
    padding: 3px 5px;
    z-index: 900;
    @include border-radius($borderRadiusBase + 1);
}

#simplepopuptext .notch {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}

.paging a,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev {
    background: #{"$color_paging_bg"};
    border: 1px solid #{"$color_paging_bg"} !important;
    height: 23px;
    text-indent: 10px;
    overflow: hidden;
    width: 23px;
    color: #{"$color_body_standard"};
    @include transition(opacity 200ms linear !important);
}

.paging a,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev,
.paging span {
    vertical-align: bottom;
    line-height: 22px;
    text-align: left;
    margin-right: 0px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    @include border-radius($borderRadiusBase + 1);
}

.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev,
.paging > span,
.paging > a {
    margin-left: 2px;
    margin-right: 2px;
}

.paging span {
    height: 25px;
    width: 25px;
}

.paging .page,
.paging .page a {
    line-height: 23px;
}

.paging .page a {
    text-indent: 0;
    text-align: center;
    margin-right: 0;
}

.paging .page.current {
    background: #{"$color_paging_bg"};
    border: 1px solid #{"$color_paging_bg"};
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}

.flex-direction-nav li {
    display: inline;
}

.paging.simpletext a {
// vertical-align: middle;
}

.paging.simpletext .nextwrap,
.paging.simpletext .prevwrap {
    float: left;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}

.paging.simpletext .nextwrap {
    text-align: right;
    float: right;
}

.paging.simpletext a.text {
    width: auto;
    text-indent: 0;
    padding: 0 8px;
}

.paging a.prev,
.paging a.next,
.flex-direction-nav .flex-next,
.flex-direction-nav .flex-prev {
    text-indent: -999px;
    background-repeat: no-repeat;
}

.paging a:hover,
.flex-direction-nav .flex-next:hover,
.flex-direction-nav .flex-prev:hover {
    @include opacity(.7);
}

.middletext {
    text-align: center;
    padding: 10px 0;
}

.middleit {
    text-align: center;
    padding: 0 20px;
}

.productlist .product {
    position: relative;
    margin-top: 25px;
}

.slides .productlist .product {
    margin-top: 0;
}

.productlist .product .columnfluff {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    border-right: 1px solid #{"$color_general_divider"};
}

.productlist .product .title,
.productlist .product .desc,
.productlist .product .price {
    margin-left: 5px;
    margin-right: 5px;
}

.productlist .product .title {
    display: block;
    margin-top: 7px;
    color: #{"$color_body_link"};
}

.productlist .product .desc {
    color: #{"$color_body_standard"};
    display: block;
    margin-top: 5px;
}

.productlist .product .price {
    margin-top: 5px;
    font-size: 16px;
}

.productlist .product .price .reducedfrom {
    @include opacity(.5);
    text-decoration: line-through;
}

.productlist .product .price .from {
    font-size: 14px;
    line-height: 14px;
    font-style: italic;
}

.productlist .product .imgcont {
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 0;
    margin: 0 5px;
    min-height: 80px; /* So that when images are loading, page has a layout */
}

.productlist .product .imgcont .imgswitch {
    position: relative;
    width: 100%;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.productlist .product .imgcont .imgswitch img {
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.productlist .product .imgcont .imgswitch .altimgcont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.productlist .product .imgcont .imgswitch .altimg {
    @include opacity(0);
    max-height: 100%;
    max-width: 100%;
}

.productlist .product .imgcont .sale {
    background: #{"$color_btn_alt_bg"};
    border: 1px solid #fff;
    padding: 4px 12px;
    color: #{"$color_btn_text"};
}

.productlist .product .imgcont img {
    max-width: 100%;
}

.productlist .product .imgcont .highlight img {
    display: block;
}

.minibutton {
    font-size: 25px;
    line-height: 25px;
    padding: 5px;
    vertical-align: middle;
    display: inline-block !important;
    zoom: 1;
    *display: inline !important;
}

#maincontent {
    padding-bottom: 50px;
    position: relative;
    z-index: 50;
}

#productinfo .singleimage {
    position: relative;
    margin-top: 35px;
    text-align: center;
}

#productinfo .singleimage a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    max-width: 100%;
}

#productinfo .singleimage img {
    max-width: 100%;
}

#productinfo #detail {
    margin-top: 10px;
}

#productinfo #detail > h1 {
    color: #{"$color_body_heading"};
    font-size: #{"$font_prod_title_size + 0px"};
    border: 0;
    margin-bottom: 10px;
}

#productinfo #detail .price {
    font-size: #{"$font_prod_title_size + 0px"};
    line-height: 35px;
    margin: 5px 0 20px;
}

#productinfo #detail .price .was-price {
    font-size: 50%;
    @include opacity(.5);
    text-decoration: line-through;
}

#productinfo #detail .options {
    margin: 20px 0;
}

#productinfo #detail .options #quantity {
    width: 40px;
}

#productinfo #detail .options .selectors {
    margin-top: 14px;
}

#productinfo #detail .options .selectors label {
    display: block;
    margin: 10px 0 5px;
}

#productinfo #detail .addbuttoncont {
    position: relative;
}

#productinfo #detail .button {
    width: 100%;
    text-align: center;
}

#productinfo #detail .added {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 58px;
    color: #{"$color_btn_text"};
    background-color: #{"$color_btn_alt_bg"};
    text-align: center;
    @include border-radius($borderRadiusBase);
}

#productinfo #detail .added .yay {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

#productinfo #detail .added .basket {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    color: #{"$color_btn_text"};
}

#productinfo #detail .added .basket:hover {
    opacity: 0.9;
}

#productinfo #detail .added.error {
    z-index: 20;
    height: auto;
    line-height: 25px;
    min-height: 100%;
    @include box-shadow(0 0 2px 0 #000);
}

#productinfo #detail .description {
    margin-top: 20px;
}

#productinfo #rg-gallery {
    margin-top: 10px;
}

#productinfo #detail .social a {
    border: none;
}

.tags {
}

.tags.contentsection a {
    white-space: nowrap;
}

#maincontent .contentsection {
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

#maincontent .social.floating {
    text-align: right;
    position: absolute;
    right: 35px;
    top: 10px;
    z-index: 5;
}

#maincontent .social .socialitem {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#maincontent .social .socialitem.facebookcont {
    width: 90px;
}

#maincontent .social .label {
    vertical-align: top;
    margin-right: 5px;
}

#maincontent .social .fb_iframe_widget span {
    display: block;
    overflow: hidden;
}

#maincontent .social #fb-root {
    display: none;
}

#maincontent .social.floating .fb_iframe_widget iframe {
    position: static;
}

.searchresults {
}

.searchresults .imagecont {
    text-align: center;
}

aside.widgets {
    margin-top: 0;
}

aside.widgets .widget {
    margin-top: 0;
    margin-bottom: 20px;
}

aside h2 {
    margin-bottom: 0;
}

aside .item {
    padding-bottom: 20px;
}

aside .item.recentarticles li {
    border-bottom: 1px solid #dedede;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

aside .item.recentarticles li a {
    display: block;
    margin-bottom: 10px;
}

aside .item.recentarticles li h4 {
    display: inline;
    font-size: 110%;
}

aside .item.recentarticles li span {
    font-style: italic;
}

aside .item.recentarticles li p {
    margin: 5px 0;
}

.tags li {
    display: inline;
    white-space: nowrap;
    line-height: 44px;
    padding: 4px 10px;
    border: 1px solid #{"$color_general_divider"};
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tags li.active {
    background: #{"$color_bg_header"};
}

.tags li.active a {
    color: #{"$color_body_standard"};
}

#maincontent h1,
#maincontent h2,
#maincontent h3 {
    border-bottom: 1px solid #{"$color_general_divider"};
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #{"$color_body_heading"};
}

#maincontent h1.nobordermargin,
#maincontent h2.nobordermargin,
#maincontent h3.nobordermargin {
    border: 0;
    margin-bottom: 0;
}

#maincontent .widgets .widget h6,
#maincontent aside h1,
#maincontent aside h2,
#maincontent aside h3,
#maincontent aside h4,
#maincontent aside h5,
#maincontent aside h6 {
    line-height: #{"$font_heading_size + 0px"};
    border-bottom: 1px solid #{"$color_general_divider"};
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #{"$color_body_heading"};
}

.template-index #maincontent .widgets .widget h6 {
    padding-top: 0;
    line-height: 1.3em;
    /* Don't let size be overridden by being in a content block */
    font-size: #{"$font_heading_size + 12px"};
}

#maincontent .widgets .widget h6 a {
    color: inherit;
    border: none;
}

.widgets .flexslider h6,
.widgets.flexslider h6 {
    padding-right: 60px;
}

#maincontent .pagecontent img {
    max-width: 100%;
}

#maincontent article .info {
    font-style: italic;
    margin-bottom: 15px
}

#maincontent #crumbs .socialicons {
    float: right;
    line-height: 20px;
    margin-top: 10px;
}

#maincontent .socialicons .rss {
    display: inline-block;
    zoom: 1;
    *display: inline;
    height: 28px;
    width: 28px;
    overflow: hidden;
    text-indent: 9999px;
    text-transform: capitalize;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#maincontent p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#maincontent .comments p {
    margin: 0 0 20px;
}

#maincontent .comments .commentbody {
    border-bottom: 1px solid #ddd;
}

.formfields .inputrow {
    position: relative;
}

#maincontent .formfields .inputrow {
    margin: 10px 0;
}

#maincontent .formfields .inputrow input {
    width: 250px;
}

#maincontent .formfields .inputrow input.normalwidth {
    width: auto;
}

#maincontent table {
    border-top: 4px solid #{"$color_general_divider"};
}

#maincontent td {
    border-bottom: 1px solid #{"$color_general_divider"};
    padding: 5px 7px;
    text-align: left;
}

#maincontent th {
    border-bottom: 1px dotted #{"$color_general_divider"};
    padding: 5px 7px;
    text-align: left;
}

#maincontent .content-block {
    line-height: 1.5em;
}

#maincontent .content-block img,
#maincontent .content-block iframe {
    max-width: 100%;
}

#maincontent .content-block h1 {
}
#maincontent .content-block h2 {
    font-size: 35px;
}
#maincontent .content-block h3 {
    border: 0;
    font-size: 32px;
}
#maincontent .content-block h4 {
    line-height: 1.5em;
    font-size: 27px;
    padding: 0 0 10px;
}
#maincontent .content-block h5 {
    font-size: 25px;
    line-height: 1.4em;
    padding: 0 0 10px;
}
#maincontent .content-block h6 {
    font-size: 22px;
    padding: 0 0 0px;
    border-bottom: 1px dashed #{"$color_general_divider"};
    margin-bottom: 15px;
    padding: 12px 0 5px 0;
}

#maincontent .content-block blockquote,
#maincontent .content-block q {
    font-size: 140%;
    font-style: italic;
    line-height: 1.5em;
    margin: 15px 0;
    padding-left: 30px;
    width: 80%;
    border-left: 5px solid #{"$color_general_divider"};
}

#maincontent .content-block ul,
#maincontent .content-block ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

#maincontent .content-block li {
    list-style: disc inside none;
}

#maincontent .content-block ol li {
    list-style: decimal inside none;
}

#maincontent .content-block .jstab {
    clear: both;
}

/* Hover for standard text <a> tags */
/* MOVED TO CUSTOM.SCSS.LIQUID - ADL */

.formfields label {
    font-size: 100%;
}

.formfields.dohover .inputrow label.hoverlabel {
    position: absolute;
    cursor: text;
    left: 10px;
    top: 50%;
    height: 90%;
    line-height: 36px;
    margin-top: -18px;
    color: #{"$color_form_field_text"};
}

/* #baset styles moved to _cart.scss - ADL (now part of CUSTOM.SCSS.LIQUID) */

#pagefooter {
    // additional styles for #pagefooter are in template-conditionals.css.liquid
    padding:20px 0 60px;
    text-align:center;
    position:relative;
    z-index:40;
}

#pagefooter h1,
#pagefooter h2,
#pagefooter h3,
#pagefooter h4 {
    color: #{"$color_foot_heading"};
    font-size: 24px;
    line-height: 24px;
    padding: 20px 0 20px;
}

#pagefooter #recentproducts li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 0 15px;
    padding: 0 15px;
    vertical-align: middle;
}

#pagefooter #recentproducts li.first {
    border-left: 0;
}

#pagefooter #recentproducts li a,
#pagefooter #recentproducts li a img {
    display: block;
}

#pagefooter .registercont {
    margin-bottom: 20px;
}

#pagefooter .registercont .showregister {
    padding: 10px 55px;
    font-size: 17px;
}

#pagefooter .registercont .contact-form {
    height: 56px;
}

#pagefooter .registercont label {
    left: 0;
    color: #{"$color_foot_heading"};
}

#pagefooter .registercont .registerform input[type=email] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    display: inline;
    height: 35px;
    width: 175px;
    color: #{"$color_foot_heading"};
    text-indent: 0;
    @include box-shadow(none);
    @include border-radius(0);
    @include transition(border-color 150ms linear);
}
#pagefooter .registercont .registerform input[type=email]:focus {
    border-bottom-color: #{"$color_general_divider"};
}

#pagefooter nav li {
    display: inline;
    margin: 20px 0;
    padding: 0 8px 0 12px;
    border-left: 1px solid #{"$color_foot_heading"};
}

#pagefooter nav li.first {
    border-left: 0;
}

#pagefooter nav a,
#pagefooter .copyright a {
    color: #{"$color_foot_link"};
    border-bottom: 1px dashed transparent;
    @include transition(border-color 200ms linear);
}

#pagefooter nav a:hover,
#pagefooter .copyright a:hover {
    border-color: #{"$color_foot_link"};
}

#pagefooter .copyright {
    margin: 20px 0;
}

#pagefooter .paymentmethods {
}

#pagefooter .paymentmethods > span {
    width: 37px;
    height: 23px;
    margin: 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#pagefooter .paymentmethods span span {
    display: none;
}


#pagefooter .paymentmethods .amex {
    background-position: 0 -23px;
}
#pagefooter .paymentmethods .cirrus {
    background-position: 0 -46px;
}
#pagefooter .paymentmethods .delta {
    background-position: 0 -69px;
}
#pagefooter .paymentmethods .discover {
    background-position: 0 -92px;
}
#pagefooter .paymentmethods .google {
    background-position: 0 -115px;
}
#pagefooter .paymentmethods .maestro {
    background-position: 0 -138px;
}
#pagefooter .paymentmethods .mastercard {
    background-position: 0 -161px;
}
#pagefooter .paymentmethods .moneybook {
    background-position: 0 -184px;
}
#pagefooter .paymentmethods .paypal {
    background-position: 0 -207px;
}
#pagefooter .paymentmethods .sage {
    background-position: 0 -230px;
}
#pagefooter .paymentmethods .solo {
    background-position: 0 -253px;
}
#pagefooter .paymentmethods .switch {
    background-position: 0 -276px;
}
#pagefooter .paymentmethods .visa {
    background-position: 0 -299px;
}
#pagefooter .paymentmethods .electron {
    background-position: 0 -322px;
}

#scrolltotop {
    position: fixed;
    right: 14px;
    bottom: -100px;
    top: auto !important;
    width: 60px;
    text-align: center;
    font-weight: bold;
    padding: 20px 10px 30px;
    background-color: #fff;
    color: #444;
    font-size: 15px;
    line-height: 15px;
    z-index: 9999999;
    border: 1px solid #333;
    @include border-radius(6px 6px 0 0);
    @include box-shadow(0px 0px 3px -1px #555);
    @include transition(bottom 0.2s ease-in-out);
}

/* Responsive Gallery */
.es-carousel-wrapper{
    padding: 10px 27px;
    position: relative;
    margin-bottom: 20px;
}
.es-carousel{
    overflow: hidden;
}
.es-carousel ul{
    display: none;
}
.es-carousel ul li{
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: auto ;/* experimental - fit more in this way */
}
.es-carousel ul li a {
    display: block;
    text-align: center;
    border-color: transparent;
    @include opacity(.7);
    -webkit-touch-callout: none;

    &, 
    img {
        @include transition(all 0.2s ease-in-out);
    }
}
.es-carousel ul li.selected a{
    @include opacity(1);
}
.es-carousel ul li a img {
    max-height: 100%;
    max-width: 100%;
}
.es-carousel ul li.selected a img {
    border-color: #ccc;
}
.es-nav span{
    position: absolute;
    top: 0;
    left: 8px;
    width: 14px;
    height: 76px;
    cursor: pointer;
    font-size: 30px;
    padding-top: 44px;
}
.es-nav span.es-nav-next{
    right: 8px;
    left: auto;
}
.es-nav span:hover{
    color: #{"$color_body_link"};
}
.rg-image-wrapper{
    position: relative;
    padding: 20px 0;
    min-height: 20px;
}
.rg-image{
    position: relative;
    text-align: center;
    line-height: 0px;
}
.rg-image a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    max-width: 100%;
}
.rg-image img{
    max-height: 100%;
    max-width: 100%;
}

.rg-image-nav { display: none; }
.rg-image-nav a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 28px;
    height: 100%;
    text-indent: -9000px;
    cursor: pointer;
    @include opacity(.3);
    outline: none;
    @include border-radius(10px 0px 0px 10px);
}
.rg-image-nav a.rg-image-nav-next {
    right: 0px;
    left: auto;
    background-position: 115% 50%;
    @include border-radius(0 10px 10px 0);
}
.rg-image-nav a:hover {
    @include opacity(.3);
}
.rg-caption {
    text-align: center;
    margin-top: 15px;
    position: relative;
}
.rg-caption p {
    font-size: 11px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
    line-height: 16px;
    padding: 0 15px;
    text-transform: uppercase;
}
.rg-view {
    height: 30px;
}
.rg-view a {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border: 3px solid #464646;
    @include opacity(.8);
}
.rg-view a:hover {
    @include opacity(1);
}
.rg-view a.rg-view-full {
    background-position: 0px 0px;
}
.rg-view a.rg-view-selected {
    background-color: #6f6f6f;
    border-color: #6f6f6f;
}
.rg-view a.rg-view-thumbs {
    background-position: 0px -16px;
}
.rg-loading {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0px 0px -23px;
    z-index: 10000;
    @include border-radius(10px);
    @include opacity(.7);
}


/*
 * jQuery FlexSlider v1.8
 * http: //www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http: //www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {width: 100%; margin: 0; padding: 0; zoom: 1; position: relative;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider .slides > li {display: none; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {overflow: hidden; zoom: 1;}
.flexslider .slides > li {position: relative; overflow: hidden;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
    background: none; 
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); 
    zoom: 1;
}
.flex-caption { 
    width: 96%; 
    padding: 2%; 
    margin: 0; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.3); 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0,0,0,.3); 
    font-size: 14px; 
    line-height: 18px;
}

/* Control Nav */
.flex-control-nav {
    text-align: center;
    margin-top: 10px;
    display: none;
}
.flex-control-nav li {
    display: inline;
}
.flex-control-nav li a {
    text-indent: -9999em;
    width: 4px;
    height: 4px;
    background: #777;
    border: 2px solid #777;
    margin: 3px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; 
    @include transition(background-color 250ms linear);
}
.flex-control-nav li a.flex-active {
    background: #fff;
}

/* Slimbox */
#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer;
}

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;
}

#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
}

#lbPrevLink {
  left: 0;
}

#lbNextLink {
  right: 0;
}

#lbBottom {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.4em;
  text-align: left;
  border: 10px solid #fff;
  border-top-style: none;
}

#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  margin: 5px 0;
  outline: none;
}

#lbCaption, #lbNumber {
  margin-right: 71px;
}

#lbCaption {
  font-weight: bold;
}


/* jqZoom plugin */

.zoomPad{
    position: relative;
    /*float: left; - taken out to fix sale graphic*/
    z-index: 99;
    cursor: crosshair;
    max-width: 100%;
}

.zoomPad > img {
    display: inline-block;
    zoom: 1;
    *display: inline;
}


.zoomPreload{
    display: none;
}


.zoomPup{
	overflow: hidden;
	background-color: #FFF;
    @include opacity(.6);
	position: absolute;
    z-index: 101;
}

.zoomOverlay{
	position: absolute;
	left: 0px;
	top: 0px;
	background: #FFF;
	z-index: 5000;
	width: 100%;
	height: 100%;
	display: none;
    z-index: 101;
}

.zoomWindow{
	position: absolute;
	left: 110%;
	top: 40px;
	height: auto;
    width: 100%;
    z-index: 110;
}
.zoomWrapper{
	position: relative;
    z-index: 110;
    cursor: pointer !important;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.zoomWrapper img {
    max-width: none !important;
    max-height: none !important;
    opacity: 1 !important;
    filter: alpha(opacity = 100) !important;
}
.zoomWrapperTitle{
	display: block;
	background: #999;
	color: #FFF;
	height: 18px;
	line-height: 18px;
	width: 100%;
  overflow: hidden;
	text-align: center;
	font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
  @include opacity(.6);
}
.zoomWrapperImage{
	display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
    max-height: 100%;
}
.zoomWrapperImage img{
  border: 0px;
  display: block;
  position: absolute;
  z-index: 101;
}

.zoomIframe{
  z-index: -1;
  @include opacity(.8);
  position: absolute;
  display: block;
}

/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/

/* Infinite scroll */
#infscr-loading {
    clear: both;
    padding: 50px;
    text-align: center;
}

/* Select box visual replacement */
.selectreplace {
    background: #{"$color_form_field_bg"};
    color: #{"$color_form_field_text"};
    position: relative;
    overflow: hidden;
    border: 1px solid #{"$color_form_field_border"};
    @include box-shadow(0px 0px 3px -1px #{"$color_form_field_border"});
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectreplace .selectpicker {
    padding: 5px 40px 5px 10px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectreplace .selectpicker .arr {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    z-index: 4;
    font-family: Arial;
}

.selectreplace select {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include opacity(0);
    z-index: 15;
    -webkit-appearance: menulist-button;
}

/* pretty image fades */
.doimgfade .productlist .product .imgcont img,
.rg-image img {
    @include opacity(0);
}

/* Media queries for responsive layout */
@media only screen and (max-width: 959px) {
    #util-bar #util-bar-login .title {
        display: none;
    }
    
    #util-bar .text-in-tagline .tagline-area,
    #util-bar .text-in-tagline .actions {
        float: none;
        width: auto;
        text-align: center;
    }
    
    #pageheader nav ul li {
        margin-left: 16px;
    }
    
    #mainslider .product .info .textblock {
        min-height: 155px;
    }
    
    #mainslider .product .info .textblock .desc {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #util-bar #util-bar-login .nameinputcont {
        width: 30%;
    }
    
    #util-bar #util-bar-login .passwordinputcont {
        width: 52%;
    }
    
    #util-bar .search-in-tagline .tagline-area {
        width: 158px;
    }
}

@media only screen and (max-width: 767px) {
    #mainslider {
        /* simply using display: none breaks the slider */
        overflow: hidden;
        height: 0;
        line-height: 0;
    }
    
    #maincontent .social.floating {
        top: auto;
        bottom: 10px;
        right: 0;
        width: 100%;
        text-align: left;
    }
    
    #maincontent .social .label {
        display: block;
        margin-bottom: 5px;
    }
    
    #maincontent .socialspacer {
        clear: both;
        padding-top: 40px;
    }
    
    .widgets .widget {
        margin-bottom: 20px !important;
    }
    
    #util-bar #util-bar-login {
        padding-bottom: 40px;
    }
    
    #util-bar #util-bar-login .button {
        bottom: 42px;
    }
    
    #util-bar #util-bar-login .passwordinputcont .forgot {
        left: 5px;
        top: 44px;
        border: 0;
    }
    
    #util-bar .actions,
    #util-bar .search-in-tagline .tagline-area {
        text-align: center;
        width: auto;
        float: none;
    }
    
    #util-bar .actions .socialicons {
        display: block;
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    #util-bar .tagline-area {
        display: none;
    }
    
    #util-bar .search-in-tagline .tagline-area {
        display: block;
        margin-bottom: 10px;
    }
    
    #util-bar #util-bar-login .button {
        top: auto;
        bottom: 0;
    }
    
    #util-bar #util-bar-login .passwordinputcont {
        width: auto;
        margin: 8px 126px 0 0;
        float: none;
    }
    
    #util-bar #util-bar-login .nameinputcont,
    #basket .image,
    #basket .desc,
    #basket .foot .instructions,
    #basket .foot .instructions textarea,
    #basket .foot .updatecont,
    #basket .foot .checkoutcont {
        float: none;
        width: 100%;
    }
    
    #pageheader #searchcont {
        position: relative;
        width: auto;
        margin-top: 10px;
    }
    
    #pageheader #logo-area #searchcont.inline {
        position: static;
    }
    
    #productinfo #detail .button,
    #productinfo #detail .added,
    #productinfo #detail .options #product-select_input {
        width: 100% !important;
    }
    
    #productinfo #detail .added {
        float: none;
        margin: 10px 0;
    }
    
    #basket .image {
        text-align: center;
    }
    
    #basket .qty,
    #basket .remove {
        width: 36%;
        text-align: center;
    }
    
    #basket .amt {
        width: 28%;
    }
    
    #basket .foot .instructions {
        padding: 20px 0;
    }
    
    #basket .foot .button,
    #shipping-calculator .button {
        width: 100%;
        padding: 15px;
    }
    
    #basket .qty {
        padding-top: 16px;
    }
    
    .productlist .product .columnfluff {
        display: none;
    }
    
    /* Vertically laid out - heights don't matter */
    .productlist .product .imgcont,
    .productlist .product .title,
    .productlist .product .desc {
        height: auto !important;
    }
    
    .productlist .product {
        margin-top: 25px;
        padding-bottom: 20px;
        border-bottom: 1px solid #{"$color_general_divider"};
    }
    
    .productlist .product.last {
        border-bottom: 0;
    }
    
    #pageheader nav ul {
        display: none;
    }
    
    #pageheader nav #dropdownNav {
        display: inherit;
    }
    
    #pagefooter #recentproducts li {
        border: 0;
    }
}

@media only screen and (max-width: 479px) {
    #util-bar .actions #searchcont.inline {
        margin-top: 10px;
    }
}

/* Add custom code under here */
