.collapse {
    @include transition(height .35s ease);
    height: 0;
    overflow: hidden;

    &.in {
        height: auto;
    }
}
// shopify template .hidden
.hidden {
    display: none;
}
.hide {
    display: none !important;
}
.show {
    display: inherit !important;
}