#footer {
    // this does not wrap within bodyWrapper - it is its own element spanning 100% width */
    position: fixed; // so the footer stays put no matter where the vertical scrolling is */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51px;
    z-index: 998; // so the florals overlap it in a small screen height situation - but not any content */
    background: $footerBgColor image-url("layout/footer_bg.png") left bottom repeat-x;
    color: #135f99;
    font: 10px/50px normal Verdana, Arial, Helvetica, sans-serif;
    *zoom: 1;

    #content {
        width: $templateWidth;
        height: 50px;
        margin: 0 auto;
        &, small, &.small { line-height: 50px; } 
    }

    a {
        white-space: nowrap;
        display: block;
        width: auto;
        height: auto;
        padding: 0 10px;
    }

}


//  SUB FOOTER
// ----------------------------------------------


#featureBoxContainer { 

    &, #subFooter {
        @include ie((6,7)) { position: inherit; }
        position: relative;
        margin-bottom: 15px;
        height: 150px;
        width: 1006px; // TODO should be var
    }

    left: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: $bodyBgColor; 
    padding-top: 10px;
    border-top: 2px solid $templateBdColor;
    margin-top: -12px;
}

#subFooter { height: 235px; }

// subfooter boxes
.subFooter_box {

    float: left;
    height: 200px;
    padding-right: 15px; // to make room for the divider image
    background: image-url("layout/subFooter_vDivider.png") right top no-repeat;

    font: 12px/18px normal Georgia, "Times New Roman", Times, serif;
    color: #4a4432;
    text-align: center;

    .content {

        // holds the content below the title IMRs
        position: relative;
        top: 0;
        right: 3%;
        padding-left: 2%; // keep the LI and LI A bg image off the box's vertical dividers
        z-index: 1;
        width: 98%; // + 2% is 100%
        height: auto;

        p { padding: 0 30px; }
    } // END .subFooter_box .content

    &#newsletter {

        form {
            position: relative;
            top: 0;
            left: 21px;
        }
        .btn_submit {
            position: relative;
            left: 4px;
            width: 54px;
            height: 20px;
            background: image-url("buttons/btn_subFooter_newsletterSignup.png") left bottom no-repeat;
            text-indent: -999em;

            &.hover, &:hover {
                background-position: left top !important;
            }
        }

        .content p {
            padding-top: 15px;
        }    
    }

    // image replaced "handwriting" headlines within subFooter
    .title {
        display: block;
        height: 40px;
        width: 209px;
        padding: 0;
        margin: 0 0 15px 0;
        position: relative;
        z-index: 0; // keep the title behind the content box within the subFooter box */
        top: 28px;
        background: image-url("layout/subFooter_titles.png") left top no-repeat;
    }
    // specific images used for titles
    &#needHelp .title {
        left: 10px;
        background-position: left -121px;
    }
    &#upcoming .title {
        left: 40px;
        @include ie((6,7)) { left: 0; }
        background-position: left -82px;
        width: 149px;
    }
    &#newsletter .title {
        left: 44px;
        @include ie((6,7)) { left: 0; }
        background-position: left -36px;
        width: 149px;
        height: 46px;
    }
    &#testimonials .title {
        left: 24px;
        height: 36px;
    }

    blockquote {
        font-size: 11px;
        line-height: 14px;
        font-style: normal;
        color: #7b694f;
        text-align: center;
        padding: 15px 40px 0 40px;
        margin: 0;
        display: block;
        height: 140px;
        width: 153px;
        position: relative;
        top: 0;
        background: image-url("layout/subFooter_blockquote.png") left top no-repeat;
    }

    .listLink {
        li {
            // solid dual border divider image
            background: image-url("layout/subFooter_listLink_divider.png") left bottom repeat-x;
            
            a {
                // gradual horizontal fade-in overlap border divider image
                background: image-url("layout/subFooter_listLink_fadeDivider.png") left bottom no-repeat;
            }
        }
    }

    &.last {
        background: none;
        padding-right: 0;    
    }

} // END .subFooter_box

.featured_box {
    z-index: 1;
    float: left;
    margin-right: 10px;
    height: 146px;
    overflow: hidden;
    &.last {
        margin-right: 0;
    }
    img {
        position: relative;
    }
}
// home page floral overlap (bottom left) */
#featureBoxContainer #floral {
    width: 305px;
    height: 143px;
    position: absolute;
    left: 52px;
    top: -2px;
    z-index: 2; // keep above the .featured_boxe(s) and the footer */
    background: transparent image-url("layout/subFooter_floral_bl.png") left top no-repeat;// TODO: 24-bit alpha pngfix for the <img> nested within this */
}