// TOP NAV */
#mainNav {
    position: absolute;
    right: 48px;
    bottom: -2px;
    z-index: 4;
}
#mainNav ul { *overflow: visible; }
#mainNav ul li {
    margin-right: 1px;
// IE7 and below */
cursor: pointer !important;
*height: 32px;
*position: relative;
}
#mainNav ul li a, #mainNav ul li a em { *position: relative; *bottom: 0; }
#mainNav ul li a {
    border-bottom: 2px solid #c0bc9c;
    cursor: pointer !important;
}
#mainNav ul li a, #mainNav ul li a em {
    display: block;
    width: auto;
    height: 26px;
    color: white;
    font-style: normal;
    font-weight: bold;
    cursor: pointer !important;
}
#mainNav ul li a:hover, #mainNav ul li a:hover em {
    background: white url("../images/layout/main-nav-tab.png") left top no-repeat;
    cursor: pointer !important;
}
#mainNav ul li a:hover, #mainNav ul li a:hover em {
    color: white !important;
}
#mainNav ul li a, #mainNav ul li a {
    font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold !important;
    line-height: 30px;
    padding-left: 12px;
}
#mainNav ul li a em {
    display: block;
    padding-right: 12px;
}
#mainNav ul li a:hover {
    background-color: #477fa8;
    background-position: left -60px;
}
#mainNav ul li a:hover em {
    background-color: #477fa8;
    background-position: right -90px;
}

// by comparing the class of the body to the ID of the main nav wrapping LI, we determine the "active" nav button */
.accessoriesdefault-page #mainNav ul li#accessories a, 
.linensdefault-page #mainNav ul li#linens a, 
.appareldefault-page #mainNav ul li#apparel a, 
.drinkwaredefault-page #mainNav ul li#drinkware a, 
.babydefault-page #mainNav ul li#baby a,
.babybibsdefault-page #mainNav ul li#baby a, 
.babyblanketsdefault-page #mainNav ul li#baby a, 
.babyburp-clothsdefault-page #mainNav ul li#baby a, 
.cart-page-type #mainNav ul li#cart a, 
.checkout-page #mainNav ul li#cart a,
.accessoriesdefault-page #mainNav ul li#accessories a:hover, 
.linensdefault-page #mainNav ul li#linens a:hover, 
.appareldefault-page #mainNav ul li#apparel a:hover, 
.babydefault-page #mainNav ul li#baby a:hover, 
.drinkwaredefault-page #mainNav ul li#drinkware a:hover, 
.cart-page-type #mainNav ul li#cart a:hover,
.checkout-page #mainNav ul li#cart a:hover { border-bottom: 2px solid #fff; }

.accessoriesdefault-page #mainNav ul li#accessories a, 
.linensdefault-page #mainNav ul li#linens a, 
.appareldefault-page #mainNav ul li#apparel a, 
.babydefault-page #mainNav ul li#baby a, 
.babybibsdefault-page #mainNav ul li#baby a, 
.babyblanketsdefault-page #mainNav ul li#baby a, 
.babyburp-clothsdefault-page #mainNav ul li#baby a,
.drinkwaredefault-page #mainNav ul li#drinkware a, 
.cart-page-type #mainNav ul li#cart a, 
.checkout-page #mainNav ul li#cart a,
.accessoriesdefault-page #mainNav ul li#accessories a:hover, 
.linensdefault-page #mainNav ul li#linens a:hover, 
.appareldefault-page #mainNav ul li#apparel a:hover, 
.babydefault-page #mainNav ul li#baby a:hover, 
.babybibsdefault-page #mainNav ul li#baby a:hover, 
.babyblanketsdefault-page #mainNav ul li#baby a:hover, 
.babyburp-clothsdefault-page #mainNav ul li#baby a:hover,
.drinkwaredefault-page #mainNav ul li#drinkware a:hover, 
.cart-page-type #mainNav ul li#cart a:hover, 
.checkout-page #mainNav ul li#cart a:hover,
.accessoriesdefault-page #mainNav ul li#accessories a em, 
.linensdefault-page #mainNav ul li#linens a em, 
.appareldefault-page #mainNav ul li#apparel a em, 
.babydefault-page #mainNav ul li#baby a em, 
.babybibsdefault-page #mainNav ul li#baby a em, 
.babyblanketsdefault-page #mainNav ul li#baby a em, 
.babyburp-clothsdefault-page #mainNav ul li#baby a em,
.drinkwaredefault-page #mainNav ul li#drinkware a em, 
.cart-page-type #mainNav ul li#cart a em, 
.checkout-page #mainNav ul li#cart a em,
.accessoriesdefault-page #mainNav ul li#accessories a:hover em, 
.linensdefault-page #mainNav ul li#linens a:hover em, 
.appareldefault-page #mainNav ul li#apparel a:hover em, 
.babydefault-page #mainNav ul li#baby a:hover em, 
.drinkwaredefault-page #mainNav ul li#drinkware a:hover em, 
.cart-page-type #mainNav ul li#cart a:hover em,
.checkout-page #mainNav ul li#cart a:hover em { color: #0877cd !important; }


.accessoriesdefault-page #mainNav ul li#accessories a, 
.linensdefault-page #mainNav ul li#linens a, 
.appareldefault-page #mainNav ul li#apparel a, 
.babydefault-page #mainNav ul li#baby a, 
.babybibsdefault-page #mainNav ul li#baby a, 
.babyblanketsdefault-page #mainNav ul li#baby a, 
.babyburp-clothsdefault-page #mainNav ul li#baby a,
.drinkwaredefault-page #mainNav ul li#drinkware a, 
.cart-page-type #mainNav ul li#cart a, 
.checkout-page #mainNav ul li#cart a,
.accessoriesdefault-page #mainNav ul li#accessories a em, 
.linensdefault-page #mainNav ul li#linens a em, 
.appareldefault-page #mainNav ul li#apparel a em, 
.babydefault-page #mainNav ul li#baby a em, 
.babybibsdefault-page #mainNav ul li#baby a em, 
.babyblanketsdefault-page #mainNav ul li#baby a em, 
.babyburp-clothsdefault-page #mainNav ul li#baby a em,
.drinkwaredefault-page #mainNav ul li#drinkware a em, 
.cart-page-type #mainNav ul li#cart a em,
.checkout-page #mainNav ul li#cart a em { background-color: white; background-image: url("../images/layout/main-nav-tab.png"); background-repeat: no-repeat; }

.accessoriesdefault-page #mainNav ul li#accessories a, 
.linensdefault-page #mainNav ul li#linens a, 
.appareldefault-page #mainNav ul li#apparel a, 
.babydefault-page #mainNav ul li#baby a, 
.babybibsdefault-page #mainNav ul li#baby a, 
.babyblanketsdefault-page #mainNav ul li#baby a, 
.babyburp-clothsdefault-page #mainNav ul li#baby a,
.drinkwaredefault-page #mainNav ul li#drinkware a, 
.cart-page-type #mainNav ul li#cart a,
.checkout-page #mainNav ul li#cart a { background-color: white; background-position: left top; }

.accessoriesdefault-page #mainNav ul li#accessories a em, 
.linensdefault-page #mainNav ul li#linens a em, 
.appareldefault-page #mainNav ul li#apparel a em, 
.babydefault-page #mainNav ul li#baby a em, 
.babybibsdefault-page #mainNav ul li#baby a em, 
.babyblanketsdefault-page #mainNav ul li#baby a em, 
.babyburp-clothsdefault-page #mainNav ul li#baby a em, 
.drinkwaredefault-page #mainNav ul li#drinkware a em, 
.cart-page-type #mainNav ul li#cart a em,
.checkout-page #mainNav ul li#cart a em { background-color: white; background-position: right -30px; }
