
//  TOP NAV
//    nested within .nav-main
// ----------------------------------------------

& {
    position: absolute;
    right: 48px;
    bottom: -2px;
    z-index: 4;
}
ul {

    li {
        margin-right: 1px;
        padding-bottom: $templateBdWidth;
        cursor: pointer !important;
        a {
            display: block;
            width: auto;
            height: 26px;
            line-height: 30px;
            padding: 0 12px;

            font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: bold !important;
            cursor: pointer !important;
            color: $mainNavBgActive;
            
            border: $templateBdWidth solid transparent;
            @include border-top-radius(5px);
            
            &:hover {
                background-color: $mainNavBgHover;
                color: $mainNavBgActive !important;
                cursor: pointer !important;   
            }
        }
    }
    // IE7 and below
    @include ie((6,7)) {
        height: 32px;
        li {
            position: relative; 
            overflow: visible; 
            a, a em {
                position: relative; 
                bottom: 0;   
            }
        }
    }
}

// by comparing the class of the body to the ID of the main nav wrapping LI, we determine the "active" nav button */
.accessoriesdefault-page & ul li#accessories, 
.linensdefault-page & ul li#linens, 
.appareldefault-page & ul li#apparel, 
.drinkwaredefault-page & ul li#drinkware, 
.babydefault-page & ul li#baby,
.babybibsdefault-page & ul li#baby, 
.babyblanketsdefault-page & ul li#baby, 
.babyburp-clothsdefault-page & ul li#baby, 
.cart-page-type & ul li#cart, 
.checkout-page & ul li#cart {
    padding-bottom: 0;
    border-bottom: $templateBdWidth solid $mainNavBgActive;
    a {
        &, &:hover {
            background-color: $mainNavBgActive;
            color: $mastBgColorLight !important;
        }
    }
}